$navHeight: 68px;

$color-white: #fff;
$color-theme: #FFC107;
$color-theme-l: #616161;
$color-theme-d: #424242;

$shadow-dark: rgba(#000, .2);
$shadow-light: rgba(#000, .14);
$shadow-bright: rgba(#000, .12);

$sidebar-width: 250px;
