$navHeight: 68px;

$color-white: #fff;
$color-theme: #1565c0;
$color-theme-d: #1565c0;

$shadow-dark: rgba(#000, .2);
$shadow-light: rgba(#000, .14);
$shadow-bright: rgba(#000, .12);

$sidebar-width: 220px;
